<?xml version="1.0"?>
<!--
/**
 * Copyright © Nokytech Themes 2022-present. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Nokytech_FbNokyFeed::config" title="FB Noky Feed Config" sortOrder="100"/>
            </resource>
        </resources>
    </acl>
</config>
