<?xml version="1.0"?>
<!--
/**
 * Copyright © Nokytech Themes 2022-present. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/menu.xsd">
    <menu>
        <add id="Nokytech_FbNokyFeed::main_menu" title="FB Noky Feed" module="Nokytech_FbNokyFeed" sortOrder="100" resource="Nokytech_FbNokyFeed::config" action="adminhtml/system_config/edit/section/fbnokyfeed"/>
    </menu>
</config>
